 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-image-1 {
  width: 336px;
  height: 57px;
  margin: 33px calc(((100% - 1140px) / 2) + 374px) 0 auto;
}

.u-section-1 .u-image-2 {
  height: 1351px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-custom-html-1 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-1 .u-text-1 {
  width: auto;
  margin: -116px auto 0;
}

.u-section-1 .u-form-1 {
  height: 1131px;
  width: 533px;
  background-image: none;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.4);
  margin-top: -1302px;
  margin-left: calc(((100% - 1140px) / 2) + 332px);
  margin-bottom: 60px;
}

.u-section-1 .u-text-2 {
  margin-left: 0;
}

.u-section-1 .u-text-3 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
}

.u-section-1 .u-label-2 {
  font-weight: 700;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  font-weight: 700;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-label-5 {
  font-weight: 700;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-label-6 {
  font-weight: 700;
}

.u-section-1 .u-form-group-9 {
  margin-left: 0;
}

.u-section-1 .u-label-7 {
  font-weight: 700;
}

.u-section-1 .u-form-group-10 {
  margin-left: 0;
}

.u-section-1 .u-label-8 {
  font-weight: 700;
}

.u-section-1 .u-form-group-11 {
  margin-left: 0;
}

.u-section-1 .u-label-9 {
  font-weight: 700;
}

.u-section-1 .u-form-group-12 {
  margin-left: 0;
}

.u-section-1 .u-form-group-13 {
  margin-left: 0;
}

.u-section-1 .u-label-10 {
  font-weight: 700;
}

.u-section-1 .u-form-group-14 {
  margin-left: 0;
}

.u-section-1 .u-label-11 {
  font-weight: 700;
}

.u-section-1 .u-form-group-15 {
  margin-left: 0;
}

.u-section-1 .u-label-12 {
  font-weight: 700;
}

.u-section-1 .u-form-group-16 {
  margin-left: 0;
}

.u-section-1 .u-label-13 {
  font-weight: 700;
}

.u-section-1 .u-form-group-17 {
  margin-left: 0;
}

.u-section-1 .u-label-14 {
  font-weight: 700;
}

.u-section-1 .u-form-group-18 {
  margin-left: 0;
}

.u-section-1 .u-label-15 {
  font-weight: 700;
}

.u-section-1 .u-form-group-19 {
  margin-left: 0;
}

.u-section-1 .u-label-16 {
  font-weight: 700;
}

.u-section-1 .u-form-group-20 {
  font-weight: 700;
}

.u-section-1 .u-label-17 {
  font-weight: 700;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  letter-spacing: 0px;
  background-image: none;
  width: 100%;
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 940px) / 2) + 374px);
    margin-left: calc(((100% - 940px) / 2) + 402px);
  }

  .u-section-1 .u-form-1 {
    margin-right: auto;
    margin-left: calc(((100% - 940px) / 2) + 332px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 720px) / 2) + 374px);
    margin-left: calc(((100% - 720px) / 2) + 384px);
  }

  .u-section-1 .u-form-1 {
    margin-left: calc(((100% - 720px) / 2) + 187px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 540px) / 2) + 204px);
    margin-left: calc(((100% - 540px) / 2) + 204px);
  }

  .u-section-1 .u-form-1 {
    margin-left: calc(((100% - 540px) / 2) + 7px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 2116px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 24px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-2 {
    height: 1964px;
    margin-top: 36px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 352px;
    height: auto;
    min-height: 63px;
    margin: -1864px auto 0;
  }

  .u-section-1 .u-form-1 {
    height: 1313px;
    width: 395px;
    margin-top: 122px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    font-weight: 700;
  }

  .u-section-1 .u-label-4 {
    font-weight: 700;
  }

  .u-section-1 .u-form-group-20 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    font-weight: 700;
  }
}